[2013-06-13 10:06] sebz opened #1 "Uncaught Error: type property can't be changed"
Hi,

I'm getting this error just calling the hideShowPassword() function on my jQuery password object.

Looking at your code, it seems that you change the type attribute using .attr() that is not allowed by jQuery. Using .prop() does the trick though.

[2013-06-13 22:55] #1 closed, assigned to tylersticka

[2013-06-27 08:45] joshuatree opened #2 "Problem in bootstrap modals"
I'm using two tabs based on the bootstrap framework - if the hideShowPassword plugin is called in the tab that's visible on page load, all is fine.

If I'm switching to the second tab, the input gehts shortened and the icon is displayed above it, instead of inside of it. It still works though, just the layout gets messed up.

![hideshowpassword](https://f.cloud.github.com/assets/1076755/714694/bda

[2013-08-19 16:49] #2 closed, assigned to tylersticka

[2013-09-27 15:08] timmywil opened #4 "AMD support"
It would be great if this plugin didn't assume a jQuery global.  This could be done with the [UMD syntax for jQuery plugins](https://github.com/umdjs/umd/blob/master/jqueryPlugin.js).

[2013-09-27 19:46] #4 closed, assigned to tylersticka

[2013-10-23 13:34] toupeira opened #5 "Use deep merge for options"
I wanted to override the labels for the toggle and got strange errors because the other fields in the `states` hash were missing. You can avoid this by doing a deep merge with `$.extend(true, {}, ...`

[2013-10-23 23:27] #5 closed, assigned to tylersticka

[2014-01-06 18:19] jtkeith opened #6 "Keyboard accessibility for the hide/show toggle"
Love the plugin. The hide/show toggle added to the password field is available to users with a pointer, but not available for keyboard users.  Keyboard availability is a key element of accessibility, so it would be good to:
1. add a tabindex=0 to the toggle div, which will allow tabbing to the hide/show element
2. add a keypress event handler to allow space or enter to toggle the hide/show status

[2014-01-08 20:43] johndugan opened #7 "Removing Inline Width On Wrapper"
Hi Guys,

Thanks for making this great little plugin! One small issue I have is the inline width on the hideShowPassword-wrapper div. What would be the best way to make the wrapper fluid when using the second example?

Thx!

[2014-01-13 23:18] #7 closed, assigned to tylersticka

[2014-02-14 15:37] pixelthing opened #9 "IE8 bug"
Hi - was about to write about an IE8 bug, before I started looking into it and realised that older versions of IE throw an error if you change the type property of an input element after creation - so it's unfixable in this incarnation.

It might be worth adding an exception so that the script just disables itself in such browsers, or at least a mention in the docs that IE < 9 throws an error?

Ma

[2014-03-21 18:20] #9 closed, assigned to tylersticka

[2014-03-21 18:20] #6 closed, assigned to tylersticka

[2014-05-06 18:32] jbarreiros opened #11 ".hideShowPassword-field not added on init"
Noticing that when a password field is initialized, class "hideShowPassword-field" is not assigned to the input element. The class is only added after clicking the toggle button for the first time.

Traced it to `if (! this.options.enable || this.isType()) return false;` in the `updateElement` function. On init, both evaluate to true.

Is this by design?

Thanks for making your plugin available.

[2014-05-27 15:14] juanjdlt opened #12 "A CSS requirement"
I guess this style is definitely a requirement to the plugin (in order to achieve the same behaviour as the demo).

.hideShowPassword-toggle {
  z-index: 3;
}

keep on developing this plugin, is really really great !!

[2014-05-27 16:05] #12 closed, assigned to nobody

[2014-05-27 16:30] #11 closed, assigned to tylersticka

[2014-06-26 05:58] zdwolfe opened #13 "Rogue console.log"
There's a console.log in [toggleKeyEvent](https://github.com/cloudfour/hideShowPassword/blob/master/hideShowPassword.js#L386). Old browsers don't support console.log, though I'm not sure what your list of supported browsers is, so this could be a non-issue.

[2014-06-26 16:40] #13 closed, assigned to tylersticka

[2014-09-24 18:30] javayoung opened #15 "Determine solution or official recommendation for autofill issues"
The plug in works so well. But it just has a weird issue. When the user name or the password input have not been set up with any value, it will automatically show the browser saved user name and password for the current webpage. Is there a way to not show browser saved user name and password? Thank you
![untitled](https://cloud.githubusercontent.com/assets/3420826/4393555/cf28d32e-4418-11e4-8fff-a

[2014-10-12 18:00] Purus opened #16 "Password Text Box Size Changes"
First, Thanks for this plugin.

I am using it one of my project and it works fine. I am having a little issue which is stopping me to go ahead.

I am having a floating box which accepts username and password. Once this plugin is installed, the size of the password text box changes to small size.

On other pages, this works fine. The issue is only with the floating box.
![password](https://cloud.gi

[2014-10-13 17:07] #16 closed, assigned to nobody

[2014-10-13 17:33] Purus opened #17 "Multiple Selectors"
Sorry for the question again.

I have 2 password text boxes.

I tried the plugin with the wildcard selectors. For me, it works only for the first text box.

$("input[name*=password]").showPassword(true, { wrapper: { enforceWidth: false } });

Please note the \* in the selector.

[2014-10-14 15:08] #17 closed, assigned to nobody

[2014-11-04 20:26] johndugan opened #18 "Hide Password Toggle on Blur"
Howdy Tyler!

Just upgrading to v2... Looks like I can just use the shorthand method `.showPassword('focus')` to get my desired behavior. However, I cannot seem to find the option for hiding the toggle on the `blur` event. I'm probably missing something simple. Figured it best to just ask though...

Thx for the great plugin :-)

[2014-11-04 23:20] #18 closed, assigned to nobody

[2015-02-12 19:54] iosulfur opened #19 "Cursor Goes Beyond in Text Input in IE10"
This stack overflow (no valid anser at the time of my re-posting here) explaisn the problem well:
http://stackoverflow.com/questions/25402513/cursor-goes-beyond-in-text-input-in-ie10

This plugin sets `padding-right` on the input. Then the above issue occurs on IE10 with long passwords.

[2015-02-13 01:34] tylersticka commented on #19
Hi @iosulfur,

Sorry to hear you're encountering this issue.

The goal of the `innerToggle` functionality is to have an _inset_ password visibility toggle with a great touchscreen experience. An unfortunate side effect of this is that the options for changing its relationship to the `<input>` element are somewhat rigid. Because of this (and the relatively low usability impact and audience for this

[2015-02-14 19:54] iosulfur commented on #19
Thank you. Disabling it for IE10, and allowing their browser implementation
to persist is a feasible solution. I like the plugin, and continue to use
it. IE10's behavior is acceptable given the application's market, but I
will offer the disabling option to the designer.

Great plugin. Thanks for the bower support.
On Feb 12, 2015 7:34 PM, "Tyler Sticka" <notifications@github.com> wrote:

[2015-02-17 17:02] tylersticka commented on #19
Thanks, @iosulfur !

[2015-02-17 17:02] #19 closed

[2015-03-04 00:35] tylersticka opened #20 "Event names should be namespaced by default"
Currently, the event options are not [namespaced](http://api.jquery.com/event.namespace/) (`touchstart` instead of `touchstart.hideShowPassword`, for example). This can result in some weirdness if applied to elements that have similar events attached to them.

[2015-03-11 18:05] tylersticka opened #21 "Publish to npm"
See also: [Making your jQuery plugin work better with npm tools](http://blog.npmjs.org/post/112712169830/making-your-jquery-plugin-work-better-with-npm)

- [x] Revise module portion of JS to include Node/CommonJS
- [x] Add `package.json`
- [x] Add minification script to `package.json`
- [x] Resolve duplication between `package.json` and `bower.json`
- [x] Test npm/Browserify
- [x] Test Bower
- [x]

[2015-03-11 18:09] lyzadanger commented on #21
@tylersticka Lemme know if you'd like any help with this one. I've been doing some `npm` internal dives lately.

[2015-03-25 19:14] #20 closed

[2015-03-25 19:17] tylersticka commented on #21
https://www.npmjs.com/package/hideShowPassword :tada:

[2015-03-25 19:17] #21 closed

[2015-03-25 19:19] tylersticka opened #23 "More consistent use of event namespacing"
Some events are now namespaced to address #20, but they are inconsistent (as pointed out by @lyzadanger while reviewing #22). This was acceptable to avoid a breaking change, but we should really make them nicer in the next major release.

[2015-03-25 19:21] tylersticka opened #24 "Revise methods of instantiation for consistency"
In an effort to make the plugin easy to use for novices and control-freaks alike, the plugin currently uses several shorthand methods as well as shorthand arguments to simplify calling the plugin. This has the unintended side-effect of the documentation being confusing... any _one_ method of calling the plugin is as simple as it can be, but altogether they make the plugin as a whole more confusing

[2015-03-25 19:23] tylersticka opened #25 "npm styles"
It would be nice if the example stylesheets could be included via `npm` the same way that the JavaScript file can be. (This would also address the intent behind #14.)

[2015-03-27 04:29] simevidas commented on #15
I think the ideal implementation of the “Show password” feature would be as follows:

1. the control should initially be **disabled** (HTML `disabled` attribute)
2. when the user edits the password field for the first time, **confirm** the the current value has been produced from user input (i.e. it wasn’t autofilled), and only then enable the control

You can see this functionality in practice he

[2015-03-27 16:09] tylersticka commented on #15
Thanks, @simevidas! Do you have advice regarding this portion:

Any advice on how one would reliably do that?

[2015-05-05 19:24] MB34 opened #26 "Smaller wink image?"
I'd like to see a 25% smaller wink image, about  the same size as the one in IE11.
![image](https://cloud.githubusercontent.com/assets/377196/7480987/6c468746-f332-11e4-9e53-f9e434f28e08.png)

[2015-05-05 19:28] tylersticka commented on #26
@MB34 Thanks for your suggestion!

The included styles and images are just examples, and are provided under [an MIT license](http://www.opensource.org/licenses/MIT). You can make them smaller, larger or do something altogether different! The choice is yours. :smile:

[2015-05-05 19:28] #26 closed

[2015-05-05 21:23] MB34 commented on #26
The PNG looks kind of ragged. I'll see what I can do and donate them.

[2015-05-05 21:24] MB34 opened #27 "How to ..."
In your demo, the middle one has the password initially shown with a toggle. I want it initially masked, like in IE11 and have the show button showing. I don't see how to do that.

[2015-05-05 21:24] tylersticka commented on #26
@MB34 You might have better luck with the SVG (the PNG is just an export of that asset).

[2015-05-05 21:30] tylersticka commented on #27
@MB34 That should work! If you don't need any extra options, you can also do...

[code]

Check out [the README](https://github.com/cloudfour/hideShowPassword/blob/master/README.md) for more examples!

[2015-05-05 21:30] #27 closed

[2015-05-06 13:59] MB34 commented on #26
I understand that I'll have to adjust the CSS values but I can't figure out where the right margin is getting set in the code.

[2015-05-06 16:52] tylersticka commented on #26
@MB34 Check out the `toggle.offset` [option](https://github.com/cloudfour/hideShowPassword#options), which defaults to `0`. (For usability, it's best to keep this at `0` so clumsy fingers won't accidentally miss the toggle.)

[2015-05-13 20:18] jeremylevy opened #28 "Npm package broken"
The NPM package seems to be broken :

[code]
[code]

By the way, thanks for the good work. It works very well.

[2015-05-13 21:37] tylersticka commented on #28
Hrm, I'm encountering the same error. Thanks for letting us know, we'll investigate...

[2015-05-13 21:54] tylersticka commented on #28
Huh, it worked for me a moment ago, but for @erikjung it did not.

According to [NPM's Troubleshooting page](https://github.com/npm/npm/wiki/Troubleshooting#not-found--server-error):

But the status is currently green. The fact that it installs fine _some_ of the time (and if I do an `npm install ~/my/local/folder/hideShowPassword`, that works fine, too) suggests that _corruption_ is unlikely.

So

[2015-05-13 22:01] jeremylevy commented on #28
It worked for me BEFORE my npm cache was cleaned with:

[code]

Once cleaned, the `npm install` has broken.

Thanks for the support !

[2015-05-13 22:26] tylersticka commented on #28
Yeah, that seems to be the case for me as well... cleaning the cache makes it break again.

@lyzadanger pointed out that it's perplexing to see zero downloads [on the npm page](https://www.npmjs.com/package/hideShowPassword), compared to [another package](https://www.npmjs.com/package/leveller) which has many downloads despite being far less popular (it has about 1% of the amount of GitHub stars).

[2015-05-13 22:55] tylersticka commented on #28
I'm comparing the two `package.json` files and noticing a discrepancy in the way the `repository.url` field is specified.

For Leveller, it's defined as `https://github.com/cloudfour/leveller.git`.

For hideShowPassword, it's defined as `git://github.com/cloudfour/hideShowPassword.git`.

The NPM docs [show examples](https://docs.npmjs.com/files/package.json#repository) that use the former (https),

[2015-05-13 23:27] tylersticka commented on #28
Did not mean to close this.

So, I implemented the package.json change, but then there's a new wrinkle... I found out that `npm` doesn't allow publishing of packages with capital letters in their names. I'm not sure how we got a registry page at all before, but apparently that was a fluke or an oversight or a hiccup or something.

Still developing...

[2015-05-13 23:46] tylersticka commented on #28
@jeremylevy What a long, strange trip it's been! Thanks for bearing with us.

Can you try `npm install hideshowpassword` (all lower-case) and see if that resolves your issue?

[2015-05-14 06:38] jeremylevy commented on #28
It works ! You rock ! :+1:

[2015-05-14 15:57] tylersticka commented on #28
@jeremylevy Great, thanks so much for reporting this issue! It's embarrassing to think how long this npm package may have been broken. :sweat:

I spoke with the folks at NPM and they recommended deprecating `hideShowPassword`. So now, if you attempt to install the camel-case version, you should see a warning that advises you to use the lowercase version instead:

[code]

Closing this issue now!

[2015-05-14 15:57] #28 closed

[2015-05-22 12:03] evilebottnawi opened #31 "bug in firefox"
![screenshot from 2015-05-22 15 03 17](https://cloud.githubusercontent.com/assets/4567934/7770145/bc019e4c-0093-11e5-80cc-b52b8ca47e4e.png)

[2015-05-22 12:36] evilebottnawi commented on #31
fixed
[code]
Firefox return display:inline, if display not set in styles

[2015-05-22 12:44] evilebottnawi commented on #31
old information about default styles https://lists.w3.org/Archives/Public/www-style/2008Jul/att-0124/defaultstyles.htm

[2015-05-22 12:44] evilebottnawi commented on #31
need set inline-block to element in js on input

[2015-05-22 16:36] tylersticka commented on #31
Hi @evilebottnawi,

The wrapper will, by default, inherit the `display` property of the targeted input element. This is to insure the style of the `<input>` is not disrupted more than necessary by the introduction of the wrapper. The only downside to this approach is that everything will be mimicked, including browser inconsistencies.

Setting the `display` of the `<input>` (as you already have) i

[2015-05-22 16:36] #31 closed

[2015-06-04 17:21] tylersticka opened #32 "Vanilla JS"
IE8 and earlier doesn't allow changes to the `type` attribute of `<input>` elements, so browser compatibility isn't much of a concern for this script. Because of that, and because this script is intended to improve mobile or touch experiences in particular, it seems feasible to accept that [we might not need jQuery](http://youmightnotneedjquery.com/) for the next version. It may make sense to incl

[2015-06-16 15:25] raddevon opened #33 "Auto left and right margins not inherited in Firefox"
I have an element with auto left and right margins. In Chrome and other Webkit-based browsers, this is inherited by the wrapper by assigning the margin the calculated pixel value of the left and right margins. In Firefox, the left and right margins are instead inherited as 0px margins.

[2015-06-16 15:28] raddevon opened #34 "Wrapper margins are still inherited even when not included in the wrapper object's inheritStyles array"
I've instantiated my hideShowPassword element not to inherit margin values (since they aren't inherited properly in Firefox. See issue #33.). However, the margins are still being specified on the wrapper element. Here's how I instantiated the element:

    $('#password').hideShowPassword(false, true, {
        wrapper: {
          inheritStyles: ['display', 'verticalAlign']
        }
    });

[2015-06-16 17:24] tylersticka commented on #34
This is a great catch. I forgot that [jQuery.extend](http://api.jquery.com/jquery.extend/) also applies to arrays.

[2015-06-16 17:38] tylersticka commented on #33
Unfortunately, this one comes down to inconsistencies in the return value of `window.getComputedStyle` in Firefox: http://stackoverflow.com/a/24292611

Ideally, this would be fixed by styling `hideShowPassword-wrapper` (or whatever class name you choose), changing the `inheritStyles` array (which there's an open issue for, see #34), or moving the offending styles to a containing element.

[2015-06-16 17:38] #33 closed

[2015-06-16 20:24] tylersticka opened #35 "Rely more on CSS and less on JS for styles"
The majority of the issues we receive are related to the styles set via JavaScript on the wrapper and inline toggle. It may be the case that the convenience of this method is outweighed by the risk of breakage introduced.

In an upcoming major-release version with support for smarter importing of styles (see #25) and without a jQuery dependency (see #32), it may make sense to shift that responsibi

[2015-06-17 00:10] tylersticka commented on #34
@raddevon This option is pretty gnarly as-is (we've got some open issues to streamline in the next version), but for now I think I've come up with a backwards-compatible quick-fix.

Could you give the version in the [fix-inheritStyles](https://github.com/cloudfour/hideShowPassword/tree/fix-inheritStyles) branch a try for me to verify whether or not it resolves your issue?

[2015-06-17 13:12] raddevon commented on #34
@tylersticka Yes, this fixes it. Thank you for the quick fix!

[2015-06-17 16:14] tylersticka commented on #34
Thanks, @raddevon !

I'm gonna re-open this issue until it's merged into `master`, just in case any other users are having the problem before then.

[2015-06-18 00:12] #34 closed

[2015-06-19 17:38] tylersticka opened #37 "Split basic hide/show functionality from toggle UI"
It would be very simple to abstract the basic hide/show component from the inset toggle UI. Doing so might also simplify the structure of the options and such.

[2015-08-27 03:42] w3MediaLabs opened #38 "Rendering issue when displayed on a modal form."
Hello.

When I display a form in a modal, the plugin rendering fails somehow.

Screen shot with plugin enabled on a modal dialog:
![password-bad](https://cloud.githubusercontent.com/assets/7306696/9512036/3721d44a-4c4b-11e5-89a9-83653f424cbf.jpg)

Screen shot with plugin disabled on a modal dialog:
![password-good](https://cloud.githubusercontent.com/assets/7306696/9512040/4258718e-4c4b-11e5-8bf1-

[2015-08-27 03:45] tylersticka commented on #38
Hi, @w3MediaLabs ! Have you read the section of the README titled [Toggle Quirks in Invisible Elements](https://github.com/cloudfour/hideShowPassword#toggle-quirks-in-invisible-elements)? Also see issue #2 for a similar problem.

[2015-08-27 03:53] w3MediaLabs commented on #38
Oops.. I did check the issues list, but only the open ones.

Sorry, I will look better.

[2015-09-22 16:15] #38 closed

[2015-09-25 20:19] jeremylevy opened #39 "browserify require is broken when jQuery versions mismatch"
Hello,

Just encountered a problem when requiring `hideshowpassword` using Browserify.

Given that I need to support IE8, jQuery is defined as `^1.11.3` in my `package.json`.

Since you have also added jQuery as dependency, and that the two versions mismatch, the `hideshowpassword` function will be attached to your jQuery instance, instead of mine, making it unavailable from my code.

Why jQuery h

[2015-09-28 17:06] tylersticka commented on #39
I can confirm when using an earlier version of jQuery than what's defined in this module's `package.json` that two jQuery libraries are bundled. I'll investigate further, I suspect our `package.json` will need to be updated.

[2015-09-28 17:36] tylersticka commented on #39
@jeremylevy I have a potential fix pushed to the `fix-jquery-dep-ver` branch. You can try this locally by removing your current `hideshowpassword` dependency, and re-installing with the following command:

[code]

You may also need to run `npm dedupe`. After that, you _should_ no longer see duplicate jQuery modules in the bundle that Browserify generates.

Can you confirm whether or not this resol

[2015-09-28 18:51] jeremylevy commented on #39
It works! Your rock! Thanks :+1:

[2015-09-28 18:51] tylersticka commented on #39
Great! I'll go ahead and merge and bump the version...

[2015-09-28 19:04] #39 closed

[2015-09-28 19:08] tylersticka commented on #39
@jeremylevy This fix is available in version `2.0.8`. I just pushed an update to `npm`.

Thanks again!

[2015-10-08 18:44] tylersticka commented on #25
Did a bit more research on this, specifically into tools like [parcelify](https://github.com/rotundasoftware/parcelify) and [npm-css](https://github.com/defunctzombie/npm-css), and I don't think it's a good fit for where the module is at currently. Because the _essential_ styles are handled within the JavaScript plugin itself, there's no additional steps I can find that will make importing the exa

[2015-10-08 18:45] #25 closed

[2016-01-20 18:11] evilebottnawi opened #42 "Modernizr >= 2 and >= 3 use touchevents insted touch"
Line 81:
[code]

[2016-01-21 22:52] tylersticka commented on #42
Good call, @evilebottnawi !

[2016-01-21 22:53] tylersticka commented on #42
- [ ] Include updated Modernizr for demo
- [ ] Update Modernizr test
- [ ] Bump version in package info
- [ ] Update README
- [ ] Tag and push new version

[2016-01-21 23:40] #42 closed

[2016-01-21 23:43] tylersticka commented on #42
@evilebottnawi Should be fixed now, version is `2.0.10`. Thanks again! :+1:

[2016-04-19 08:59] mikkotikkanen opened #44 "Bower install fails"
At least at Windows machines (haven't tested with others OS, but with multiple Windows machines), the bower install fails as bower.json seems to be a symbolic link with "package.json" text within it. The symbolic link seems to break down for some reason and since the "package.json" isn't exactly valid JSON, the install aborts.

[code]

[2016-04-19 09:04] mikkotikkanen commented on #44
Also, 2.0.3 seems to install correctly

[2016-04-19 16:10] tylersticka commented on #44
Thanks, @mikkotikkanen. The `package.json` file is valid JSON, but it may not be a valid `bower.json`.

[2016-04-19 16:31] tylersticka commented on #44
Hmm, seems to work fine on Mac:

[code]

Will attempt to troubleshoot on Windows.

[2016-04-19 16:51] tylersticka commented on #44
Verified on Windows.

The issue seems to be with the symlink. See: yeoman/yeoman#751

Solution may be to just remove `bower.json` file entirely. More research needed, as our team no longer uses Bower.

[2016-04-19 17:24] #44 closed

[2016-04-19 17:26] tylersticka commented on #44
@mikkotikkanen Thanks for reporting the issue! Should be fixed in `v2.0.11` (just merged).

[2016-07-19 21:05] tylersticka opened #46 "Can we do this with just CSS in supported browsers?"
https://twitter.com/jnowland/status/755304430430326785

http://codepen.io/jnowland/details/bZowPK/

https://css-tricks.com/snippets/css/password-input-bullet-alternatives/

via @grigs

[2016-10-08 21:25] lashnag opened #47 "Attach to hover event"
Hello, how can i attach hidePassword to hover event? I need show passord on mousedown and hide on mouseup.

[2016-10-10 16:13] tylersticka commented on #47
If you use your own toggle markup, you can attach events to whatever element you like, calling the `showPassword`, `hidePassword` and/or `togglePassword` methods on the input element. See [this section of the README](https://github.com/cloudfour/hideShowPassword#showing-hiding-and-toggling).

[2016-10-11 08:00] lashnag commented on #47
I already read it, ant try to use it like this:

.hideShowPassword({toggle : {attachToTouchEvent: 'mouseup.hideShowPassword mousedown.hideShowPassword'}});
But it doesn't wor
k

С уважением, Лашнев Алексей

[2016-10-11 17:00] tylersticka commented on #47
@lashnag You are using the wrong `attachTo*` option (there is no hover for touchscreens) and you are using `mouseup` and `mousedown` (which correspond to buttons) instead of `mouseenter` and `mouseleave`.

[code]

[CodePen here](http://codepen.io/tylersticka/pen/vXjRWa?editors=1010)

[2016-10-11 17:02] #47 closed

[2016-10-12 08:46] lashnag commented on #47
It's worked! Thankyou!

  innerToggle: true,
  toggle: {
    attachToEvent: 'mouseenter mouseleave'
  }
});

С уважением, Лашнев Алексей

[2016-12-15 09:17] lashnag opened #48 "Can't change button title "Show Password""
I used this code:

[code]

But i saw title "Show Password" anyway.

[2016-12-15 16:57] tylersticka commented on #48
Hi @lashnag,

The root plugin settings only apply to the elements _before_ a state (shown or hidden) is applied. When a state is applied, options are overridden by the contents of `states.shown` or `states.hidden` in the settings object.

So if you wanted to customize the button content, title, etc. for both states, as well as the initial state prior to any of that being applied, it would look lik

[2016-12-15 16:57] #48 closed

[2016-12-16 07:37] lashnag commented on #48
It's work! Thankyou!

  innerToggle: true,
  toggle: {
    attachToEvent: 'mousedown mouseup',
    attr: {
      role: 'button',
      'aria-label': 'Test',
      title: 'Test',
      tabIndex: 0
    }
  },
  states: {
    shown: {
      toggle: {
        content: 'Shown!!',
        attr: {
          title: 'My Shown Title'
        }
      }
    },
    hidden: {
      toggle: {
        content: 'H

[2017-02-14 20:39] MarcinOrlowski opened #49 "hideToggleUntil is not documented"
Just FYI: `hideToggleUntil` option is not documented

[2017-02-14 21:07] tylersticka commented on #49
Not sure I follow, as there is no `hideToggleUntil` option. You can set `innerToggle` to an event name and it will keep it hidden until that event. This is documented in the README [here](https://github.com/cloudfour/hideShowPassword#enabling-the-inner-toggle-button) and in the `innerToggle` portion [here](https://github.com/cloudfour/hideShowPassword#options).

[2017-02-14 22:14] MarcinOrlowski commented on #49
Hm, you're right, but this is bit odd. I formerly found your script [here](http://www.jqueryscript.net/form/Toggle-Password-Visibility-With-jQuery-hideShowPassword.html) and I simply thought it's just the same code. Funny thing is that when you download it from there, then scripts links to your github but said `hideToggleUntil` is implemented in that code.

[2017-02-14 22:22] tylersticka commented on #49
I haven't seen that website before, not sure who uploaded the code there but it appears to be hosting an outdated version of the plugin.

I just sent a message to the website's owners asking that they update or remove the outdated plugin. Apologies for the confusion... rest assured that the version here on GitHub and [on npm](https://www.npmjs.com/package/hideshowpassword) is actively maintained.

[2017-02-14 22:22] #49 closed

[2017-04-13 08:56] lkrzyzanek opened #50 "Possibility to use existing wrapper (parent) element"
wrapElement method always creates a new "wrapper" element around input.
In some situations it would be great to pass the wrapper element within options and just do initialization like copy all CSS etc.

My use case is that we uses "adaptive placeholders" which requires to have label exactly after input element. Something like this:
[code]

[2017-04-13 11:31] lkrzyzanek commented on #50
This is what I meant: https://github.com/cloudfour/hideShowPassword/pull/51
(min version is not committed).

[2017-05-02 14:43] ArnaudDelafosse opened #52 "Some of the demo doesn't work on Windows 8.1 touchscreen PC in Chrome, Firefox"
In Firefox and Chrome, only the 3rd example on [the demo page](http://cloudfour.github.io/hideShowPassword/) (checkbox) works with keyboard action (Tab + Space bar ), not the 2 others.

[2017-05-02 15:25] tylersticka commented on #52
Which version/OS of Chrome and Firefox did you test on? I just tried in Chrome 57 and Firefox 53 (both on a Mac) and tab + space works the same for all demos.

Here's a GIF I recorded of me using tab and space to toggle all three demos in Firefox:

![hsp-kb](https://cloud.githubusercontent.com/assets/69633/25625216/cb788324-2f10-11e7-8c93-89a591915096.gif)

[2017-05-02 16:28] ArnaudDelafosse commented on #52
Sorry, was in a bit of a rush... I'm running Win8.1 and FF 53 + Chr 58 (both latest).
Now check this out: in IE11.0.96 (also latest) they all work fine!

[2017-05-02 16:41] tylersticka commented on #52
Still works for me in Windows 10, Chrome 58 (fresh install):

![hsp-kb-win](https://cloud.githubusercontent.com/assets/69633/25628424/ff7f60b6-2f1a-11e7-8742-784842ca2a2d.gif)

Same for Firefox 53 (also a fresh install).

Did you try in an incognito or private tab? Is it possible you have extensions enabled that could be the culprit?

[2017-05-02 16:56] ArnaudDelafosse commented on #52
Now that's weird. No I'm using the "normal" tabs. Tried with uBlockOrigin disabled but that didn't change anything. I'm not running any crazy ext., just your regular front-end dev stuff.
Could it be the Win version? Is yours a native Win10 or a VM/Mac dual boot thing?

[2017-05-02 17:02] tylersticka commented on #52
The GIF was captured in VMware Fusion.

I just switched over to a genuine desktop PC with Windows 10 installed traditionally, and I'm still unable to reproduce.

Were you able to try in a private or incognito window/tab? Can you reproduce on a different machine?

[2017-05-03 10:01] ArnaudDelafosse commented on #52
I've tried in private tabs (FF + Chr) but I get the same behaviour and I don't have a Win10 machine handy. :/
I guess we'll just have to leave it at that for now.
For info, today Win8.1 accounts for 10% of all Windows OS globally (see capt).
Good luck with that and cheers for the plugin regardless.
If I can be of any help, please let me know.
Arnaud
![winver](https://cloud.githubusercontent.com/as

[2017-05-03 16:32] tylersticka commented on #52
The plugin's keyboard accessibility hasn't changed since 2014 (see #6 and [this post](https://cloudfour.com/thinks/hideshowpassword-2/#improved-accessibility)), at which point Windows 8 was the most recent Windows version and was used extensively for testing. Without those accessibility features, it's doubtful that organizations like HP and Lucid Meetings would have adopted the plugin for their lo

[2017-05-03 16:49] ArnaudDelafosse commented on #52
Interesting stuff...
First, on the [Lucid M log-in](https://meet.lucidmeetings.com/) form, it works just fine (space bar toggle). Yay!

Then yes I DO have a touchscreen laptop, it's this a Dell Inspiron 15.6" Ultra HD Touch-Screen. Do you suggest that because it's touch-enabled, it would 'cancel' the keyboard feature in some instances?

Finally, on your Codepen the 1st and 3rd work fine with the s

[2017-05-03 17:07] tylersticka commented on #52
It _shouldn't_, but it's always possible.

[edit] I should perhaps mention that they all 3 work on touch action

Well, this kinda dashes my hopes that I'd found the key to reproducing the issue, because this is exactly what I experience. It's _particularly_ odd that the first example works for you because it's using the default behavior, which should be the same as the demos. So what could possibl

[2017-05-03 17:30] ArnaudDelafosse commented on #52
Don't worry I'm more than happy to help. You did some great work and I can't wait to see it work 100% to promote/use it :)

Same: only the 3rd one works w space bar toggle

Now only the 3rd one works. You got a lead there
![codepen test2](https://cloud.githubusercontent.com/assets/1129732/25673075/7286dea6-3036-11e7-9171-9780896cfe73.png)

[2017-05-03 17:34] tylersticka commented on #52
Yay! So my new hypothesis is that Modernizr updated their `touchevents` test to account for touchscreen PCs (or something symptomatic on a touchscreen PC), and it's probably been a zillion years since we updated the version of Modernizr in the demo, resulting in weird behavior.

[2017-05-03 17:39] ArnaudDelafosse commented on #52
![gadg](https://cloud.githubusercontent.com/assets/1129732/25673595/3dd15f4a-3038-11e7-8dd9-9d98b90ecc2e.jpg)

[2017-05-05 16:07] tylersticka commented on #52
@ArnaudDelafosse The demo dependencies have been updated! If you have a moment, would you mind doing a hard refresh of https://cloudfour.github.io/hideShowPassword/ and reporting back on whether or not the demos are working as expected?

[2017-05-05 16:53] ArnaudDelafosse commented on #52
Hi Tyler, I'm afraid it's the same result (2 first fail and 3rd is OK) in FF and Chr with the cache emptied (modernizr 3.5.0 (Custom Build) + jQuery v3.2.1)
In IE all good.

[2017-05-05 16:58] tylersticka commented on #52
Well, crud. Why in the world would that be? 😕

[2017-05-05 17:04] ArnaudDelafosse commented on #52
Just a thought, on the [Lucid M log-in form](https://meet.lucidmeetings.com/) (which works), the toggle btn is a `<a>` with a `role="button"` instead of a `<button>`. Even though it's not semantically _ideal_, is it equivalent on a a11y level (AT)? That could be one way to fix this situation.

[2017-05-10 21:40] tylersticka commented on #52
@ArnaudDelafosse Okay, trying to narrow this down to see if the dependency thing is a red herring or if it has something to do with the demo specifically.

I just put the exact demo source into a CodePen project, but replaced the Modernizr and jQuery references with the exact same ones my earlier CodePen is using (the one that seemed to work fine).

If this _doesn't_ work, then the dependencies ma

[2017-05-12 08:24] ArnaudDelafosse commented on #52
It WORKS !!  All three and in FF and Chrome.

[2017-05-12 16:05] tylersticka commented on #52
Great! So now we just need to figure out why full Modernizr 2.8.3 on a CDN works, but a custom Modernizr 3.5.0 hosted relative to the file does not.

[2017-05-13 09:06] ArnaudDelafosse commented on #52
I didn't have the time to check but did you use a customized ver of Modernizr for weight file reasons? Would it be too much of an assumption to think that most ppl would use your plugin within a project where the latest default Modernizr is already served by default via CDN?

[2017-05-17 16:44] tylersticka commented on #52
@ArnaudDelafosse Modernizr recommends using a custom build, so we were following that approach. That said, the purpose of this library isn't to solve input detection (we're not smart enough) but to provide the right usability tools and some thoughtful defaults. So with that in mind, the demo has now been updated to offload those dependencies to a CDN in much the same way that CodePen does.

If you

[2017-05-18 12:52] ArnaudDelafosse commented on #52
I confirm it now works like a charm in both FF & Chr in Win8.1 with keyb navigation, mouse and touch.
Well done, I'll be more than happy to use it when needed and promote it.
Cheers

[2017-05-18 15:47] tylersticka commented on #52
@ArnaudDelafosse Splendid! Thanks for your help and patience diagnosing, we really appreciate it. 🙂

[2017-05-18 15:47] #52 closed

[2017-07-15 16:04] markphd opened #55 "Disable added inline styles"
How do I remove the inline styles on `hideShowPassword-wrapper` and `hideShowPassword-field`?

I tried adding the style property in the options object, but still the inline styles are added automatically.

[2017-07-16 00:11] tylersticka commented on #55
You can't currently get rid of all inline styles, but you can get rid of most of them by overriding a pile of options:

[code]

At the time this plugin was written, package managers like `npm` were not in fashion and it was typically cumbersome to include both CSS and JavaScript assets from a package, which is why it applies so many customization via inline styles. If I were to rewrite this today,

[2017-07-19 06:05] markphd commented on #55
@tylersticka thanks! I will work on my own toggle instead. Although I think it would be nice to pass an option in `innerToggle` to disable all styles.

[code]

[2017-07-19 16:23] #55 closed

[2017-09-18 15:50] artur822 opened #57 "jquery dependency in wordpress"
I tried using this plugin for a form created by a the ultimate member plugin I included the hideshowPassword plugin in the footer of the page except for the jquery dependency which is already in use througn my functions.php file but it doesnt work and if I add the jquery dependency script in the footer of the page the form completely disapears.

[2017-09-18 16:32] tylersticka commented on #57
What version of jQuery are you using? (If you're using the one that ships with WordPress, you can let us know your WordPress version instead.)

Where are you initializing the plugin, and can you share the code you're using to do so? (The plugin doesn't do anything unless initialized.)

Is there any sort of error in the dev tools console?

[2018-06-07 20:31] tylersticka commented on #57
Closing this due to lack of further information.

[2018-06-07 20:31] #57 closed

[2019-01-03 18:38] tylersticka opened #58 "Keyboard focus lost on toggle in iOS Safari 12.1.2"
Prior to this version of iOS Safari, you could toggle the password visibility without losing keyboard focus. This no longer seems to be the case as of iOS 12.1.2.

[2019-01-03 18:39] #23 closed

[2019-01-03 18:39] #24 closed

[2019-01-03 18:39] #32 closed

[2019-01-03 18:39] #35 closed

[2019-01-03 18:39] #37 closed

[2019-10-30 09:04] AlexLWT opened #59 "About this plugin, how can the focus skip the display password button after pressing the [TAB] key?"
About this plugin, how can the focus skip the display password button after pressing the [TAB] key?
关于这个插件,如何可以在按下[TAB]键后,使得焦点跳过显示密码按钮?

My current code
我目前的代码:
$('#input_pwd').hideShowPassword({
            show: false,
            innerToggle: 'focus',
            triggerOnToggle: 'focus'
        });

[2019-12-17 10:50] bytestream opened #60 "Configure globally"
It would be good if we could set global defaults for the configuration, particularly for localisation of Show/Hide

`$.fn.hideShowPassword.defaults = {...}`

I think it would just be a simple case of adding `$.extend({}, $.fn.hideShowPassword.defaults, params)` here https://github.com/cloudfour/hideShowPassword/blob/master/hideShowPassword.js#L198

[2019-12-24 00:52] bytestream commented on #60
@tylersticka happy to submit a PR if you agree

[2019-12-26 16:56] tylersticka commented on #60
@bytestream Sure, sounds good!

[2019-12-27 13:14] bytestream commented on #60
Sent :)

[2019-12-27 17:23] tylersticka commented on #60
@bytestream Your PR (#61) has been merged, and the change is now available in version `2.2.0` of this package. Thank you for your contribution!

[2019-12-27 17:23] #60 closed

[2019-12-27 23:20] bytestream commented on #60
Awesome! Thanks for the fast turnaround.